<div class="form-group">
  <%= form_for [object, object.notes.build]  do | f | %>
    <%= f.text_area :body, class: "form-control", placeholder: "Your notes - visible only to you - go here...", id: "wysiwyg" %><br /> 
    
    <div tabindex="0">
      <%= f.submit :class => "btn btn-secondary", placeholder: "Noted!" %>
    </div>
    
  <% end %>
</div>
