<div class="card">
  <div class="card-body">
    <p class="card-text"><%= comment.body %></p>
    <h6 class="card-footer mb-2 text-muted"><small><%= comment.user.name %></small></h6>
  </div>
</div>
<br />