<div class="nested-fields">
  <p>
    <%= instruction.label :description %><br>
    <%= instruction.text_area :description %>
  </p>

  <p>
    <%= instruction.check_box :_destroy %>
    <%= link_to_remove_association "remove instruction", instruction %>
  </p>
</div>