<div class="nested-fields">
	<%= f.text_area :description, class: "form-control", placeholder: "Enter work step", name: "Enter work step" %>
	<sub style="text-align: right;"><%= link_to_remove_association "Delete instruction", f %></sub>
	<!-- <p>	\u{1F5D1}</p> -->
</div>

