<div class="nested-fields">

    <%= f.text_area :description, class: "form-control", placeholder: "Enter work step"    %><br />
      <%= f.check_box :_destroy, class: "form-check-input", placeholder: "Remove instruction"  %>
      <%= link_to_remove_association "Remove above instruction", f %>

</div>
<br />
<br />