<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h1>Edit Recipe</h1>

    <%= render 'edit_form', object: @recipe %>
    <%= link_to ' Back', recipes_path %>
  </div>
  <div class="container col-3"></div>
</div> 