<div class="row">
  <div class="container col-2"></div>
  <div class="container col-6">
    <br /><h5>Enter recipe details</h5>

      <%= render "form", object: @recipe %>
      <%= link_to 'Return to recipes list', recipes_path %>
  </div>
  <div class="container col-4"></div>
</div>
