<br /><div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <div class="card border-secondary">
      <div class="btn-group btn-group-toggle" role="group" >
        <button type="button" class="btn btn-secondary disabled">Add a new ... </button>
        <button type="button" class="btn btn-secondary"><a href="/recipes/new" style="color: #973a37">Recipe</a></button>
        <button type="button" class="btn btn-secondary"><a href="/photos/new" style="color: #0056b2">Photo</a></button>
        <button type="button" class="btn btn-secondary"><a href="/stories/new" style="color: #255f39">Story</a></button>
      </div>
    </div>
  </div>
  <div class="container col-3"></div>
</div>
<br />
