<div class="jumbotron">
  <h1>Acknowledgments</h1>
  <hr class="my-4">
    <div class="row">
      <div class="col-2"> </div>
        <div class="col-8">
          <blockquote class="blockquote text-right">
            <p class="mb-0">"Most projects of any significance could never see the light of day without the help and support of people other than those whose names appear on the credit line, and the same is true of the Monaco Family Cookbook. On behalf of myself and all who will from time to time enjoy this cookbook, I hereby express everlasting gratitude."</p>
            <p class="blockquote-footer">Jo Ann</p>
          </blockquote>
        </div>
      <div class="col-2"> </div>
    </div>
</div>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <p>I deeply appreciate the love and supuport of my family, who demonstrated unswerving patience and forbearance throughout the three months that this cookbook consumed our household.</p>
    <p>Thank you, Richard, both anchor and oarsman, for you steadfast dedication to this Monaco fmaily heirloom of the future. Inspiration and creativity are blessings, but it is a good idea to have an engineer around to guide the execution.</p>
    <p>Thank you, Nancy Elizabeth, for the use of your computer, and your ability to make it work. Thank you especially for your cheerful countenance, day after day, your willingness to find the time, at any hour, to listen, to look, to suggest - and most of all, thank you for your encouragement.</p>
    <p>Thank you, Jennifer, for answering questions, making suggestions, picking out the paper, proofreading, and delivering rulings (i.e. Do banana fritters go with desserts or snacks? Do muffins go with breads or cupcakes?) even when none of these things was really what you wanted to be doing.</p>
    <p>Thank you, Jim, for your technical assistance, for binding and covering all these books. By your gracious help, you provided a proper showcase for our family recipes.</p>
    <p>Thank you, Rosemary, for proofreading the first draft. Your keen eye was an invaluable asset, and made a good book even better.</p>
    <p>Lastly, my thanks to Nancy Monahan, cousin and friend, who, through the wonders of email, served as loyal confidant, trusted advisor, and willing sounding board, from soup to nuts. Whenever I was tempted to throw up my hands in frustration, you found the right words to convince me otherwise.</p>
    <p>As for me, I have only this to say. The Talmud says there are three things a person should do in a lifetime: have a child, plant a tree, and write a book. Now I have done all three.</p>
    <p class="lead">Jo Ann</p>
    <div style="margin: auto; width: 50%"><%= image_tag "Mom-in-the-napkin-hat.jpg"%></div>
  </div>
  <div class="container col-3"></div>
</div>