<div class="jumbotron">
  <h1>In the Kitchen...With the Monacos</h1>
  <hr class="my-4">
  <p class="lead">The App</p>
</div>

<div class="row">
  <div class="container col-2"></div>
  <div class="container col-8">
    <p class="lead">Questions, comments, thoughts, feedback? </p>
    <p><a href="mailto:inthemonacokitchen@gmail.com">Email us</a>.</p>
    <!-- <h5>Jo Ann Giangrande Abella</h5>   -->
  </div>
  <div class="container col-2"></div>
</div>

