<div class="jumbotron">
  <h1>Contributors</i></h1>
  <hr class="my-4">
  <p class="lead"><i>Monaco Family Cookbook, 1996</i></p>
</div>

<div class="row">
  <div class="container col-2"></div>
  <div class="container col-4">
    <div class="list-group" style="align-items: center">
      <p>Jo Ann Giangrande Abella</p>
      <p>Nancy Elizabeth Abella</p>
      <p>Allison Marie Caruso</p>
      <p>Elaine Monaco Caruso</p>
      <p>Carly Marie Clinton</p>
      <p>Robert Louis Clinton, Jr.</p>
      <p>Frank Leonard Fico</p>
      <p>Lynda Marie Fico</p>
      <p>Ann Monaco Giangrande</p>
      <p>Peter Anthony Giangrande</p>
      <p>Edward Monaco</p>
      <p>Katherine Monaco</p>
      <p>Mary Fish Monaco</p>
      <p>Maureen Devlin Monaco</p>
      <p>Scott Andrew Monaco</p>
      <p>David James Monahan</p>
      <p>James Everett Monahan</p>
      <p>Suzanne Nicole Monahan</p>
      <p>Blair Leonard Spaeth</p>
      <p>Rosemary Fico Spaeth</p>
    </div>
  </div>

  <div class="container col-4">
    <div class="list-group" style="align-items: center">
      <p>Richard Manuel Abella</p>
      <p>Jennifer Marie Abella</p>
      <p>Christina Marie Caruso</p>
      <p>John Caruso</p>
      <p>Nancy Fico Clinton</p>
      <p>Karen Olenginski Dixon</p>
      <p>Janice Ann Fico</p>
      <p>Theresa Fico</p>
      <p>Joseph Michael Giangrande</p>
      <p>Anthony T. Monaco</p>
      <p>James Robert Monaco</p>
      <p>Mary Monaco</p>
      <p>Marie Racioppi Monaco</p>
      <p>Robert Matthew Monaco</p>
      <p>Christine Lynn Monaco</p>
      <p>Michelle Adrian Monahan</p>
      <p>Nancy Monaco Monahan</p>
      <p>Camille Monaco Olenginski</p>
      <p>Blair Robert Spaeth</p>
      <p></p>
      <p></p>
    </div>
  </div>

  <div class="container col-2"></div>
</div>