<div class="jumbotron">
  <h1>In the Kitchen...With the Monacos</h1>
  <hr class="my-4">
  <p>The Monaco Family Cookbook</p>
  <p class="lead"> August 10, 1996</p>
</div>

<div class="row">
  <div class="container col-2"></div>
  <div class="container col-8">
    <h6>Compiled and Edited by</h6>
    <h5>Jo Ann Giangrande Abella</h5>  
  </div>
  <div class="container col-2"></div>
</div>

<br />
<div class="row">
  <div class="container col-2"></div>
  <div class="container col-8">
    <h6>Cover Design by</h6>
    <h5>Karen Olenginski Dixon</h5>  
  </div>
  <div class="container col-2"></div>
</div>
<br />