<div class="jumbotron">
  <h1>To <i>Angela Maria Annunziata Brignola Monaco</i></h1>
  <hr class="my-4">
  <p class="lead">May 7, 1896 - February 11, 1963</p>
</div>

<div class="row">
  <div class="container col-2"></div>
  <div class="container col-8">
    <h2 style="margin: auto; width: 50%">We Call Her Grandma</h2><br />
    <div style="margin: auto; width: 50%"><%= image_tag "Monaco.jpg", size: "400"%></div>
    <br />
    <p>I remember Grandma by the stove, always with a pot of gravy simmering. Gravy. It may be tomato sauce to James Beard or Julia Child, but it was gravy to Grandma, and gravy it will always be to me.</p>
    <p>You didn't need to call ahead to tell her you were coming, or when, or with whom. Whever you arrived, it was time for dinner, and Grandma was always happy to see you.</p>
    <br />
    <p><small>August 10, 1996</small></p>
  </div>
  <div class="container col-2"></div>
</div>