<div class="jumbotron">
  <h1>About</h1>  
  <hr class="my-4">
  <p></p>
  <p class="lead">
    <i></i>
  </p>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">  
    <h4></h4>
      
  </div>
  <div class="container col-3"></div>
</div>

<br>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h4></h4>
      
  </div>
  <div class="container col-3"></div>
</div>

<br>

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    
  </div>
  <div class="container col-3"></div>
</div>

<br />
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    
  </div>
  <div class="container col-3"></div>
</div>

<br />
<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h5>Comments</h5>
      
  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <h6>Add a Comment</h6>
    
      <%= render "comments/form", object: @recipe %>

  </div>
  <div class="container col-3"></div>
</div>

<br />

<div class="row">
  <div class="container col-3"></div>
  <div class="container col-6">
    <button type="button" class="btn btn-secondary">
      <%= link_to "Family feed", posts_path %>
    </button>
  </div>
  <div class="container col-3"></div>
</div>