<section style="background: url(<%= asset_path "IMG_0951.jpg" %>)">
<h1>You're....In The Kitchen!</h1>
<p>Let's get cooking</p>
<%= link_to 'Recipes', controller: 'recipes' %>
<%= link_to 'New Recipe', new_recipe_path %>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>