<div class="row">
  <div class="container col-2"></div>
  <div class="container col-6">
    <br /><h5>Write your story</h5>
      <%= render "shared/edit_toolbar" %>
      
      <%= render "form", object: @story %>

      <button type="button" class="btn btn-secondary">
        
      <%= link_to 'Return to stories list', stories_path %>
      </button>
  </div>
  <div class="container col-4"></div>
</div>