<section class="row">
  <div id="page" class="container">
    <br /><h5>Write your story</h5>
      <%= render "shared/edit_toolbar" %>

      <%= render "form", object: @story %>

      <button type="button" class="btn btn-secondary">

      <%= link_to 'Return to stories list', stories_path %>
      </button>
  </div>
</section>