<section class="row">
  <div id="page" class="container">
    <br /><h5>New Image</h5>

      <%= render "form", object: @photo %>

    <button type="button" class="btn btn-secondary"><%= link_to 'Return to photos list', photos_path %></button>

  </div>
</section>