<div class="row">
  <div class="container col-2"></div>
  <div class="container col-6">
    <br /><h5>New Image</h5>

      <%= render "form", object: @photo %>
      
      <button type="button" class="btn btn-secondary">
      <%= link_to 'Return to photos list', photos_path %>
    </button>
  </div>
  <div class="container col-4"></div>
</div>