<section class="row">
  <div class="container">
    <ul id="posts-list">
      <% @posts.each do | post | %>
        <% if post.type == "Recipe" %>
          <li class="card border-danger">
            <div class="card-footer recipe-foot">Recipe</div>
        <% elsif post.type == "Story" %>
          <li class="card border-success">
            <div class="card-footer story-foot">Story</div>
        <% else %>
          <li class="card border-info">
            <div class="card-footer photo-foot">Photo</div>
        <% end %>
          <div class="card-body">
            <% if post.type == "Story" %>
              <h4 class="card-title"><%= link_to post.title, controller: "#{post.type.gsub("y", "ie").downcase}s", action: "show", id: "#{post.id}" %></h4>
            <% else %>
              <h4 class="card-title"><%= link_to post.title, "#{post.type.downcase}s/#{post.id}" %></h4>
            <% end %>
            <h6 class="card-subtitle mb-2 text-muted"><%= post.author %></h6>
              <% if (post.type == "Photo") && (post.images.attached?) %>
                <%= image_tag post.images.first, alt: "Photo posted by #{post.author}", class: "card-img" %>
              <% end %>
          </div>
        </li></li></li>
        <br />
      <% end %>
    </ul>
  </div>
</section>