<footer class="footer" style="position: absolute; width: 100%; height: 150px; background-color: #f5f5f5">
  <br />
  <div class="container">
    <div class="row">
      <ul class="nav nav-pills">
        <h5 style="text-align: center">The Original</h5> <br />
        <li class="nav-item">
        </li>
    
        <li class="nav-item">
          <a href="/copyright">Copyright Page</a>
        </li>
        <li class="nav-item">
          <a href="/original-dedication">Dedication</a>
        </li>

        <li class="nav-item">
          <a href="/acknowledgments">Acknowledgments</a>
        </li>
        <li class="nav-item">
          <a href="/contributors">Contributors</a>
        </li>
      </ul>
      
      <hr class="my-4">

      <ul class="nav nav-pills">
        <h5 style="text-align: center">The App</h5>
          <li class="nav-item">
          </li>
          <li class="nav-item">
            <a href="/dedication">Dedication</a>
          </li>
          <li class="nav-item">
            <a href="/contact">Contact</a>
          </li>
          <li class="nav-item">
            <a href="/dedication">Privacy Policy</a>
          </li>
          <li class="nav-item">
            <a href="/dedication">Terms of Service</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br />
  <p class="text-center"><small>&copy;2018, In the Monaco Kitchen</small></p>

</footer>