<footer class="footer">
  <br />
  <div class="container">
    <div class="row">
      <div class="col-2">
        <h5>The Book</h5><br />
      </div>
      <div class="col-5">
        <a href="/copyright">Copyright Page</a><br />
        <a href="/dedication">Dedication</a><br />
        <a href="/acknowledgments">Acknowledgments</a><br />
        <a href="/contributors">Contributors</a><br />
      </div>
    
      <div class="col-3">
        <a href="/contact">Contact</a><br/>
        <a href="/privacy-policy">Privacy Policy</a><br/>
        <a href="/terms-of-service">Terms of Service</a><br/>
      </div>

      <div class="col-2">
        <h5 >The App</h5>
      </div>

    </div>
  </div>
  <br />

    <p class="text-center"><small>&copy;2018 < ❤️> In the Monaco Kitchen</small></p>


</footer>